*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;  
}
a{
    text-decoration: none;
    color: black;
}

@import "./utils/functions";
@import "./utils/variables";
@import "./utils/list&map";
@import "./utils/mixin";
@import "./utils/each";

@import "./pages/header";
@import "./layout/form";
@import "./pages/entete";
@import "./layout/button";
@import "./pages/fonctionement";
@import "./pages/restaurant";
@import "./pages/footer";

@import "./pages/header_menu";
@import "./pages/menu";