*{
    box-sizing: border-box;

@import "./utils/functions";
@import "./utils/variables";
@import "./utils/list&map";
@import "./utils/mixin";

@import "./layout/header";
@import "./layout/form";
@import "./pages/entete";
@import "./layout/button_entête";
@import "./pages/fonctionement";
@import "./pages/restaurant";

}
body{
    width: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;  
}
a{
    text-decoration: none;
    color: black;
}