form{

}

.search{
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: $color-background;
    @include display{
        justify-content: center;
    }
    &_icon{
        margin-right: 15px;
    }
    &_get{
        border-style: none;
        font-weight: bold;
        background-color: $color-background;        
    }
}