@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

#header_acceuil {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  padding: 0px 0px 0px 0px;
}
#header_acceuil > img {
  width: 45%;
  padding: 10px 0px 10px 0px;
}

.search {
  width: 100%;
  padding: 10px 0px 10px 0px;
  background: linear-gradient(to top, #EAEAEA 35px, #b7b7b7);
  display: flex;
  justify-content: center;
}
.search_icon {
  margin-right: 15px;
}
.search_get {
  border-style: none;
  font-weight: bold;
  background-color: #EAEAEA;
}

.entête {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
  background-color: #f7f7f7;
}
.entête__heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.entête__slogan {
  width: 100%;
}

.button {
  border-style: none;
  background: linear-gradient(to bottom right, #FF79DA 1px, #9356DC);
  padding: 15px 30px 15px 30px;
  margin-top: 20px;
  color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 7px #C1C1C1;
  cursor: pointer;
}

.fonctionement {
  width: 90%;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 40px;
}
.fonctionement_heading {
  margin-bottom: 30px;
}
.fonctionement_number {
  background: #9356DC;
  padding: 5px 10px 5px 10px;
  color: white;
  border-radius: 30px;
  position: absolute;
}
.fonctionement_list {
  padding-left: 0px;
}
.fonctionement_list li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.fonctionement_list li div {
  padding: 20px 0px 20px 0px;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0px 0px 7px #C1C1C1;
  width: 100%;
  margin-left: 15px;
  font-weight: bold;
  transition: background-color 500ms;
}
.fonctionement_list li div:hover {
  background-color: #e4d5f6;
}
.fonctionement_icon {
  margin: 0px 15px 0px 30px;
}

.restaurant {
  background-color: #f7f7f7;
  width: 100%;
  padding-top: 40px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.restaurant_heading {
  margin-bottom: 30px;
  width: 90%;
  margin: auto;
}
.restaurant_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.restaurant_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 270px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 3px #C1C1C1;
  overflow: hidden;
  position: relative;
}
.restaurant_new {
  position: absolute;
  right: 0;
  margin: 15px 15px 0px 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.restaurant_image {
  height: 190px;
  width: 100%;
  object-fit: cover;
  display: none;
}
.restaurant_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.restaurant_description_heading {
  padding: 5px 5px 5px 15px;
}
.restaurant_description_heading > p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.strong {
  font-weight: bold;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: #F7F7F7;
}
.like_empty {
  position: absolute;
  top: -15px;
  left: -40px;
  font-size: 1.5rem;
}
.like_plein {
  position: absolute;
  top: -15px;
  left: -40px;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 200ms, color 200ms;
}
.like_plein:hover {
  opacity: 1;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background: #353535;
}
footer > ul {
  width: 90%;
  margin: auto;
  list-style-type: none;
  padding: 20px 0px 20px 0px;
}
footer > ul > li {
  margin-bottom: 9px;
}
footer > ul > li > a {
  color: white;
}

.logotitre {
  font-size: 1.3rem;
  color: white;
  font-family: "Shrikhand", cursive;
}

.logo1 {
  margin-right: 17px;
}

.logo2 {
  margin-right: 10px;
}

.header_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 20px;
}
.header_menu > a {
  margin-right: 80px;
}
.header_menu > img {
  width: 40%;
}

#bloc_menu {
  background-color: #f7f7f7;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.menu_image {
  height: 250px;
  width: 120%;
  object-fit: cover;
  display: none;
}
.menu_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", cursive;
  background-color: #f7f7f7;
  width: 100%;
  margin: 0px 0px 0px 0px;
  height: 25%;
  font-size: 1.6rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  bottom: 0;
}

.bckg_1 {
  background-image: url(../../public/image/A\ la\ française.jpg);
  background-size: cover;
}

.bckg_2 {
  background-image: url(../../public/image/La\ note\ enchantée.jpg);
  background-size: cover;
}

.bckg_3 {
  background-image: url(../../public/image/La\ palette\ de\ goût.jpg);
  background-size: cover;
}

.bckg_4 {
  background-image: url(../../public/image/Le\ delice\ des\ sens.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.card_heading {
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.card_heading > span {
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 5px;
}
.card_description {
  display: flex;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 7px #C1C1C1;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  cursor: pointer;
}
.card_name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card_plate {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
}
.card_platebis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card_price {
  font-weight: bold;
  padding: 0px 10px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.card_confirmation {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  margin: -1rem -5rem -1rem 0.5rem;
  width: 4rem;
  transition: margin-right 600ms;
}
.card:hover .card_confirmation {
  margin-right: -1rem;
}
.card_icon {
  color: white;
  transform: rotate(360deg);
  transition: transform 800ms;
}
.card:hover .card_icon {
  transform: rotate(0);
}
