*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    width: 100%;
    margin: auto;
    font-family: $font-general;
    display: flex;
    flex-direction: column; 
    cursor: default;
    position: relative;
    z-index: 1;
}
a{
    text-decoration: none;
    color: black;
}