footer{
    background: #353535;
    @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    > ul{
        width: 90%;
        margin: auto;
        list-style-type: none;
        padding: 20px 0px 20px 0px;
        @media (min-width:768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }        
        > li{
            margin-bottom: 9px;            
            > a{
                color: white;
            }
        }
    }
}
.logotitre{
    font-size: 1.3rem;
    color: white;
    @include logotitre;
}
.logo1{
    margin-right: 17px;
}
.logo2{
    margin-right: 10px;
}
