#header_acceuil{
    @include display{
        justify-content: center;
    }
    padding: 0px 0px 0px 0px;
    > img{
        width: 45%;
        padding: 10px 0px 10px 0px;
        @media (min-width: 768px) {
            width: 30%;
        }
        @media (min-width: 992px) {
            width: 20%;
        }
    } 
}

