.header_menu{
    @include display{
        flex-direction: row;
        align-items: center;
        padding: 10px 10px 10px 20px;
    }
    > .arrow{
        display: flex;
        justify-content: center;
        width: 5%;
    }
    > .logo{
        display: flex;
        flex: 1;
        justify-content: center;
        > img {
            width: 40%;
            @media (min-width: 768px) {
                width: 30%;
            }
            @media (min-width:992px) {
                width: 20%;
            }
        }
    }


}