#bloc_menu{
    @include color-lighten ($color-background);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
    @include display{
            flex-direction: column;            
            align-items: center;
        }
}
.menu{
        @include display{
        flex-direction: column;
    }
    height: 330px;
    width: 100%;
    overflow: hidden;  
    margin-bottom: 10px;
    position: relative;
    &_image{ 
        height: 250px;
        width: 120%;
        object-fit: cover;
        display: none;
    }
    &_heading{
        @include display{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        @include logotitre;
        @include color-lighten($color-background);
        width: 100%;
        margin: 0px 0px 0px 0px;
        height: 25%;
        font-size: 1.6rem;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: absolute;
        bottom: 0;
        letter-spacing: 1px;
        
    }

}
@include back-image;
.container{
    @include display{
        flex-direction: column;
    }
    width: 90%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
    }
    > div{
        margin-bottom: 20px;
        @media (min-width: 992px) {
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
    }

}
.anim{
    &_1{
        animation: menu-apparition 0.5s 3s both;
    }
    &_2{    
        animation: menu-apparition 0.6s 3s both;
    }
    &_3{    
        animation: menu-apparition 0.7s 3s both;
    }
    &_4{
        animation: menu-apparition 0.8s 3s both;
    }
}

.card{
    
    animation-timing-function: linear;
    margin-bottom: 10px;
    @include display{
        flex-direction: column;
    }    
    &_heading{
        margin-bottom: 20px;
        padding-bottom: 5px;
        > span{
            display: flex;
        flex-direction: column;
        }
        > span::after{
            content: "";
            height: 5px;
            border-bottom: 3px $color-tertiary solid;
            width: 40px;            
        }
    }
    &_description{
        @include display;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 7px $color-shadow;
        
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        cursor: pointer;
    }
    &_name{
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &_plate{
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 3px;
    }
    &_platebis{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } 
    &_price{
        font-weight: bold;
        padding: 0px 10px 0px 0px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    } 
    &_confirmation{
        background-color: $color-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.5rem;
        margin: -1rem -5rem -1rem 0.5rem;
        width: 4rem;
        transition: margin-right 600ms; 
    }
    &:hover &_confirmation{
        margin-right: -1rem;
    }
    &_icon{
        color: white;
        transform: rotate(-360deg);
        transition: transform 800ms;
    }
    &:hover &_icon{
        transform: rotate(0)
    }
}