@mixin display {
    display: flex;
    @content;
}
@mixin logotitre {
    font-family: 'Shrikhand', cursive;
}
@mixin color-lighten ($color){
    @if ( lightness($color) > 80%){
        $color: lighten($color, 5%)
    }
    background-color: $color;    
}
@mixin color-darken ($color){
    @if (lightness($color) > 80%){
        $color: darken($color, 20%)
    }
    background: linear-gradient(to top, $color-background 35px, $color);
}