$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: #EAEAEA;
$color-shadow: #C1C1C1;

$backg-menu1: url(../../public/image/Alafrancaise.jpg);
$backg-menu2: url(../../public/image/Lanoteenchantee.jpg);
$backg-menu3: url(../../public/image/Lapalettedegout.jpg);
$backg-menu4: url(../../public/image/Ledelicedessens.jpg);

$font-title: 'Shrikhand', cursive;
$font-general: "Roboto", sans-serif;