$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: #EAEAEA;
$color-shadow: #C1C1C1;

$backg-menu1: url(../../public/image/A\ la\ française.jpg);
$backg-menu2: url(../../public/image/La\ note\ enchantée.jpg);
$backg-menu3: url(../../public/image/La\ palette\ de\ goût.jpg);
$backg-menu4: url(../../public/image/Le\ delice\ des\ sens.jpg);

$font-title: 'Shrikhand', cursive;
$font-general: "Roboto", sans-serif;